/* paleta de cores escolhida:
azul clarinho: #98EECC
verdinho bem pastelzinho: #D0F5BE
begezinho: #FBFFDC
marronzinho suavinho: #A4907C
*/
:root {
    --escuro: #001C30;
    --meio_escuro: #176B87;
    --meio_claro: #64CCC5;
    --claro: #DAFFFB;
    --super_claro: #f0f2ff;
}

/* na hora de colocar as cores, utilizar a sintaxe:
background-color: var(--azul);
por exemplo */

body {
    font-family: "Lato", sans-serif;
    background-color: var(--claro);
    overflow: scroll;
    /* Show scrollbars */
    margin: 0;
}

.topnav {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: var(--meio_escuro);
}

.topnav img {
    height: 40px;
}

.topnav div {
    display: flex;
    flex-direction: row;
}

#logotxt {
    font-size: small;
    color: white;
}

.detailUser {
    height: 40px;
    width: 40px;
    position: relative;
    background-color: var(--meio_claro);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* popup que surge quando o usuário clica
no local de usuario */
.user_popup {
    display: none;
    position: fixed;
    background-color: var(--escuro);
    color: var(--super_claro);
    right: 10px;
    margin-top: 10px;
    width: 250px;
    height: 150px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px 2px #474747;
}

@keyframes popup {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes unpopup {
    to {
        opacity: 0;
    }

    from {
        opacity: 1;
    }
}

#imgUser {
    height: 25px;
}

.topnav #expand_btn {
    cursor: pointer;
    font-size: large;
    border: 0px;
    height: 40px;
    width: 40px;
    background-color: var(--escuro);
    color: var(--super_claro);
}

/* barra de navegação */
#sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--escuro);
    overflow-x: hidden;
    padding: 20px;

    position: fixed;
    overflow: hidden;
    transition: .2s;
}

#sidenav.retract {
    width: 0px;
    padding: 0px;
}

/* texto escrito todolist */
#todolist {
    padding: 5px 5px 5px 5px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    display: block;
    text-decoration: none;
    text-align: center;
}

/* lado das tasks */
#main {
    font-size: 30px;
    animation: fadein 2s;
    transition: .2s;
    margin-left: 240px;
}

#main.retract {
    margin-left: 0px;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* div que engloba toda as tasks. 
É o retângulo englobando as tasks */
#list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--meio_claro);
    border: 3px solid var(--meio_claro);
    margin: 20px;
    border-radius: 10px;
    padding: 3%;
}

/* botao para adicionar tasks */
#new_task {
    font-size: medium;
    margin-right: 80%;
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;
    margin-top: 10px;
    border: none;
    transition: transform .1s, box-shadow .1s, background-color .1s;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: var(--escuro);
    color: #f0f2ff;
    padding: 0.8%;
    border: none;
    font-weight: bold;
    border-radius: 20px;
}

#new_task:hover {
    transform: scale(1.02);
}

/* task com tudo */
.task {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-width: 1px;
    border-radius: 20px;
    margin-top: 10px;
    width: 90%;
    height: 40px;
    background-color: var(--meio_escuro);
    transition: background-color 0.25s ease-out;
    animation: addTask 0.25s ease-out;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform .1s, box-shadow .1s, background-color .1s;
}

.task:hover {
    transform: scale(1.01);
}


/* animação que faz com que a task surja de cima */
@keyframes addTask {
    from {
        opacity: 0;
        height: 0px;
    }

    to {
        opacity: 1;
        height: 40px;
    }
}

/* animacao de quando a task é removida */
@keyframes removeTask {
    from {
        height: 40px;
        opacity: 1;
    }

    to {
        height: 0px;
        opacity: 0;
    }
}

/* local de input do nome da task */
.task_name {
    font-size: large;
    margin-right: auto;
    border: 0px;
    width: 80%;
    background-color: var(--meio_escuro);
    color: var(--claro);
}

.task_name.riscado {
    text-decoration: line-through;
    color: #dafffb70;
}

.task_name:hover {
    cursor: pointer;
}

.task_name:focus {
    cursor: text;
    background-color: var(--claro);
    color: var(--escuro);
}

/* data */
.date {
    font-size: large;
    background-color: var(--claro);
}

/* checkbox */
.checkbox {
    margin-left: 13px;
}

/* botão de remover */
.remove {
    cursor: pointer;
    margin-right: 10px;
    height: 20px;
    border: 0px;
    background-color: var(--meio_escuro);
}

.more {
    cursor: pointer;
    border: 0px;
    background-color: var(--meio_claro);
}

.trash {
    height: 15px;
    margin-top: 1px;
}

.arrow {
    height: 15px;
    margin-top: 5px;
}

.color {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: black;
    resize: none;
}

#sort {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: var(--escuro);
    background-color: var(--super_claro);
    border: solid var(--escuro);
    font-size: medium;
    font-weight: bold;
    margin: 2%;
    padding: 0.7%;
    border-radius: 20px;
    transition: transform .1s, box-shadow .1s, background-color .1s;
}

#sort:hover {
    transform: scale(1.02);
    cursor: pointer;
}

/* classe pai que engloba os botões da categoria */
.envs {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
    font-size: medium;
}

/* cada botão da categoria */
.env_button {
    background-color: var(--meio_claro);
    cursor: pointer;
    border-radius: 5px;
    font-size: larger;
    width: 100%;
    height: 80%;
    transition: background-color 0.2s ease-out;
}

.env_button.selected {
    background-color: var(--claro);
    transform: scale(1.05) translate(5px);
}

.env_button:hover {
    background-color: var(--claro);
    transition: background-color 0.2s ease-out;
}

/* botão de quando se vai criar uma nova categoria */
#new_env {
    background-color: var(--meio_claro);
    border: 1px;
    border-radius: 6%;
    font-size: larger;
    cursor: pointer;
}

#new_env:hover {
    background-color: white;
    transition: background-color 0.5s ease-out;
}

/* input q aparece quando aperta no botao de adicionar env */
#env_name {
    font-size: large;
    width: 95%;
    text-align: center;
    border-radius: 7px;
    animation: expande 0.25s ease-out
}


#logout {
    background-color: var(--meio_claro);
    border: solid var(--super_claro);
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold;
    transition: background-color 0.2s ease-out;
    padding: 3%;
}

#logout:hover {
    background-color: var(--claro);
    transition: background-color 0.2s ease-out;
}

/* animação */
@keyframes expande {
    from {
        width: 0%;
    }

    to {
        width: 95%;
    }
}

/* barra de progresso */
.progress {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.description {
    width: 87%;
    animation: addDesc 0.1s ease-out;
    border: 0px;
    background-color: var(--meio_escuro);
}

.descInput {
    width: 100%;
    resize: none;
    font-family: "Lato", sans-serif;
    font-size: medium;
}

@keyframes removeDesc {
    0% {
        height: 60px;
        opacity: 1;
    }

    50% {
        height: 30px;
        opacity: 0;
    }

    100% {
        height: 0px;
        opacity: 0;
    }
}

@keyframes addDesc {
    from {
        height: 0px;
        opacity: 0;
    }

    to {
        height: 60px;
        opacity: 1;
    }
}

/* o botao que aparece quando todas as tasks estão resolvidas */
#botaoRemover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: var(--escuro);
    background-color: var(--super_claro);
    border: solid var(--escuro);
    font-size: medium;
    font-weight: bold;
    padding: 1%;
    border-radius: 20px;
    transition: transform .1s, box-shadow .1s, background-color .1s;
    animation: addRemover 0.2s linear;
}

#botaoRemover:hover {
    transform: scale(1.02);
    cursor: pointer;
}

@keyframes addRemover {
    from {
        width: 0px;
        opacity: 0;
    }

    to {
        width: 90px;
        opacity: 1;
    }
}

@keyframes removeRemover {
    to {
        width: 0px;
        opacity: 0;
    }

    from {
        width: 90px;
        opacity: 1;
    }
}

@media screen and (max-device-width: 768px) {

    #main {

        margin-left: 0;
    }

    #main.retract {
        margin-left: 0;
    }

    #sidenav {
        width: 0;
        padding: 0;
    }

    #sidenav.retract {
        width: 80%;
        padding-top: 3%;
        box-shadow: rgba(0, 0, 0, 0.299) 4px 0 5px 1px;
    }

    #expand_btn {
        z-index: 1;
    }

    .env_button {
        width: 55%;
    }

    .progress {
        display: flex;
        justify-content: center;
        font-size: large;
    }

    #list {
        margin: 5%;
    }

    .date {
        width: 30px;
    }
    
    .task {
        gap: 5px;
        border-radius: 20px;
        width: 100%;
        height: 40px;
    }
    /* animação que faz com que a task surja de cima */
    @keyframes addTask {
        from { opacity: 0; height: 0px; }
        to { opacity: 1; height: 40px; }
    }
    /* animacao de quando a task é removida */
    @keyframes removeTask {
        from { height: 40px; opacity: 1; }
        to { height: 0px; opacity: 0; }
    }

    #list {
        margin: 2%;
        border-radius: 10px;
        padding: 3%;
    }

    #new_task {
        margin-left: 8%;
    }

    .task_name {
        width: 45%;
    }

    .more {
        height: 22px;
        width: 22px;
        border-radius: 20%;
    }

    .arrow {
        height: 12px;
        margin-top: 4px;
        margin-left: 0;
    }

    .color {
        height: 13px;
        width: 13px;
        margin-left: 5px;
    }

    .date {
        height: 20px;
        width: 20px;
        border-radius: 20%;
        border: none;
        background-color: var(--claro);
    }

    .trash {
        margin: 0;
    }

    #sort {
        font-size: small;
        height: 24px;
        margin: 1%;
    }


}
