body {
    font-family: "Lato", sans-serif;
}

#sidenav {
    height: 100%;
    width: 10%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(122, 186, 165);
    overflow-x: hidden;
    padding: 20px;
}

#todolist {
    padding: 5px 5px 5px 5px;
    font-size: 30px;
    color: #818181;
    display: block;
    text-decoration: none;
    text-align: center;
}

#main {
    margin-left: 10%;
    font-size: 30px;
    padding: 0px 50px;
}

#list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* botao */
#new_task {
    margin-right: 950px;
    cursor: pointer;
}

#task {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: medium;
    border-style: solid;
    block-size: 40px;
    border-width: 1px;
    border-radius: 10px;
    width: 1000px;
}

#task_name {
    margin-right: auto;
    width: 800px;
}

#checkbox {
    margin-left: 10px;
}

#remove {
    margin-right: 10px;
}

.envs {
    margin-top: 20px;
    margin-right: 10%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    font-size: medium;
}

.env_button {
    border: 100px;
    background-color: rgb(122, 186, 165);
    cursor: pointer;
    border-radius: 10px;
    font-size: larger;
    width: 100%;
    height: 80%;
}

.env_button:hover {
    background-color: white;
    transition: background-color 1s ease-out;
}

#new_env {
    color: black;
    background-color: white;
    border: 1px;
    border-radius: 6%;
    font-size: larger;

}

#new_env:hover {
    background-color: white;
    transition: background-color 1s ease-out;
}

/*
background: #0066A2;
    color: white;    border-style: outset;
    border-color: #0066A2;    height: 50px;
    width: 100px;    font: bold15px arial,sans-serif;
    text-shadow: none;*/