body {
    font-family: "Lato", sans-serif;
}

#sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: aquamarine;
    overflow-x: hidden;
    padding: 20px;
}

#sidenav a {
    padding: 10px 10px 5px 10px;
    font-size: 25px;
    color: #818181;
    display: block;
    text-decoration: none;
}

a:hover {
    color: #f1f1f1;
}

#main {
    margin-left: 160px;
    font-size: 30px;
    padding: 0px 50px;
}

#todolist {
    font-size: 20px;
}

#list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#task {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: medium;
    border-style: solid;
    block-size: 40px;
    border-width: 1px;
    border-radius: 10px;
    width: 1000px;
}

/* botao */
#new_task {
    margin-right: 950px;
}

#task_name {
    margin-right: auto;
    width: 800px;
}

#checkbox {
    margin-left: 10px;
}

#edit {
    margin-right: 10px;
}